<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ADOUrl" value="{your Azure DevOps organization url}" />
    <add key="Project" value="{your Azure DevOps project name}" />
    <add key="PersonalAccessToken" value="{your Azure DevOps personal access token (PAT)" />
  </appSettings>
</configuration>